<div class="text-center my-4">
  <h1>Formulario para editar un Iphone</h1>
  <p>Rcuerda colocar imágenes del mismo tamaño</p>
  <strong class="text-warning bg-black">Todos los campos son requeridos</strong>
</div>

<div style="width: 400px; margin: auto;">
  <div *ngIf="currentTutorial" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="currentTutorial.name" name="name" />
      </div>

      <div class="form-group">
        <label for="image">URL de la imagen</label>
        <input type="text" class="form-control" id="image" [(ngModel)]="currentTutorial.image" name="image" />
      </div>

      <div class="form-group">
        <label for="storage">Almacenamiento</label>
        <input type="number" class="form-control" id="storage" [(ngModel)]="currentTutorial.storage" name="storage" />
      </div>

      <div class="form-group">
        <label for="color">Color</label>
        <input type="text" class="form-control" id="color" [(ngModel)]="currentTutorial.color" name="color" />
      </div>

      <div class="form-group">
        <label for="quantity">Cantidad</label>
        <input type="number" class="form-control" id="quantity" [(ngModel)]="currentTutorial.quantity"
          name="quantity" />
      </div>

      <div class="form-group">
        <label><strong>Estado:</strong></label>
        {{ currentTutorial.stock ? "Con stock" : "Sin stock" }}
      </div>
    </form>

    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-danger me-md-2 btn-sm" type="button" *ngIf="currentTutorial.stock" (click)="updatePublished(false)">Sin stock</button>
      <button class="btn btn-success btn-sm" type="button" *ngIf="!currentTutorial.published" (click)="updatePublished(true)">Con stock</button>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-danger me-md-2" type="button" (click)="deleteTutorial()">Eliminar</button>
      <button class="btn btn-success" type="button" (click)="updateTutorial()">Actualizar</button>
    </div>
    <p class="bg-success text-white bg-opacity-75 my-4 text-center">{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</div>
