<div class="container text-center my-4">
  <h1 >Iphones</h1>
</div>


<div class="list row justify-content-center">
  <div class="col-md-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="name" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Opción</th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle" *ngFor="let tutorial of tutorials; let i = index" [class.active]="i == currentIndex">
            <td>{{ tutorial.name }}</td>
            <td>{{ tutorial.quantity }}</td>
            <td>
              <button class="btn btn-info" (click)="setActiveTutorial(tutorial, i)">
                <fa-icon [icon]="faCogs"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-danger float-end my-4" (click)="removeAllTutorials()">
        Eliminar todos
      </button>
    </div>
    <div class="card" style="width: 18rem;" *ngIf="currentTutorial">
      <img src="{{ currentTutorial.image }}" class="card-img-top" alt="...">
      <div class="card-header text-center">
        {{ currentTutorial.name }}
      </div>
      <div class="card-body">

        <ul class="list-group list-group-flush">
          <label for=""><strong>Almacenamiento</strong></label>
          <li class="list-group-item">{{ currentTutorial.storage }}</li>
          <label for=""><strong>Color</strong></label>
          <li class="list-group-item">{{ currentTutorial.color }}</li>
          <label for=""><strong>Cantidad</strong></label>
          <li class="list-group-item">{{ currentTutorial.quantity }}</li>
          <label for=""><strong>Stock</strong></label>
          <li class="list-group-item">{{ currentTutorial.stock ? "Con stock" : "Sin stock" }}</li>
        </ul>
        <!-- <h4>Configurar</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentTutorial.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentTutorial.description }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentTutorial.published ? "Published" : "Pending" }}
        </div> -->
        <a href="#" class="float-end mt-4" routerLink="/tutorials/{{ currentTutorial.id }}">
          <button class="btn btn-warning">Editar</button>
        </a>
      </div>
    </div>
  </div>

</div>



<!-- <div class="col-md-6">
  <div >
    <h4>Tutorial</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentTutorial.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentTutorial.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentTutorial.published ? "Published" : "Pending" }}
    </div>

    <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
      Edit
    </a>
  </div>
</div> -->
